* {
    font-family: system-ui;
}

body {
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
    flex-direction: row;
}

.content {
    margin: 0;
    padding: 0 10rem;
}

.header {
    padding-top: 2vh;
    height: 32rem;
    background-color: #1F2937;
}

.header-logo {
    margin: 0;
    padding: 0;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 1000;
}

.link {
    margin-top: 0.18rem;
    margin-left: 0.50rem;
    margin-right: 0.25rem;
    color: #E5E7EB;
    font-size: 18px;
}

.links {
    display: flex;
    justify-content: end;
    width: 100vw;
}

.first {
    margin-left: 2rem;
}

.last {
    margin-right: 0;
}